{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Your Portfolio</h1>
    <div class="table-responsive table-hover">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Company</th>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Current Price</th>
                    <th>Present Value</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in portfolio['stocks'] %}
                <tr>
                    <td>{{ portfolio['stocks'][stock]['name'] }}</td>
                    <td>{{ stock }}</td>
                    <td>{{ portfolio['stocks'][stock]['quantity'] }}</td>
                    <td>{{ portfolio['stocks'][stock]['price'] }}</td>
                    <td>{{ portfolio['stocks'][stock]['value'] }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>Cash</th>
                    <td>{{ portfolio['cash'] }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>Total</th>
                    <th>{{ portfolio['total'] }}</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th><a href="/profile">Nuke Your Portfolio & Start Over</a></th>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Get a Quote</h2>
                {% include 'quote_stocks.html' %}
            </div>
            <div class="col">
                <h2>Buy a Stock</h2>
                {% include 'buy_stocks.html' %}
            </div>
            <div class="col">
                <h2>Sell a Stock</h2>
                <form action="/sell" method="post">
                    <div class="form-group">
                        <select class="form-control" name="symbol">
                            <option disabled selected value>Symbol</option>
                            {% for i in portfolio['stocks'] %}
                                <option value='{{ i }}'>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number"/>
                    </div>
                    <button class="btn btn-primary" type="submit">Sell Shares</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
