{% extends "layout.html" %}

{% block title %}
    Leader Board
{% endblock %}

{% block main %}
    <h1>Leader Board</h1>
    <div class="table-responsive table-hover">
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th>User</th>
            <th>Porfolio Value</th>
          </tr>
        </thead>
        <tbody>
          {% for leader in leaders %}
          <tr>
            <td>{{ leader[0] }}</td>
            <td>{{ leader[1] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
